:root {
    margin: 0;
    border: 0;
    padding: 0;
    background: black;
    overflow: hidden !important;
}

.Robo {
    background: black;
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}

.LoadingGif {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.background {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.gridPaineis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.PainelTopo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-size: cover;
    background-color: transparent;
}

.PainelBaixo {
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VisorRobo {
    width: 45%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabeca {
    position: absolute;
    top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.BracoEsquerdo {
    position: absolute;
    left: 90px;
    bottom: 170px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.BracoDireito {
    position: absolute;
    right: 90px;
    bottom: 170px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.cabecalho {
    color: cyan;
    font-size: 1.5em;
}